{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Chai</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h1>All Types of Chai Available</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
      obcaecati nisi quo neque, temporibus at cumque aut possimus tempore,
      corporis accusantium dolor blanditiis saepe dicta nihil recusandae sunt
      sit nesciunt. Iusto voluptates mollitia minus incidunt optio! Libero omnis
      cumque nobis officia totam doloribus nulla mollitia laudantium numquam
      labore vitae iste dolores suscipit odit, vel culpa reiciendis laborum
      tempora illo. Iure voluptatem consectetur modi delectus ipsam, mollitia
      autem eaque beatae optio ex aut officiis sunt consequatur soluta! Quia
      cumque magnam totam quaerat ab, necessitatibus obcaecati explicabo
      consectetur aliquid! Et sed commodi, eos voluptate aliquid, sunt mollitia
      cum modi dolorem voluptatum labore? Sit dolore et animi fugit nostrum,
      odit distinctio hic officiis magnam!
    </p>
  </body>
</html>
